html, body {
	width: 100%;
	height: 100%;
}

#main {
	background-image: url('resources/paper.png');
	background-repeat: repeat;
	padding: 10%;
}

.navbar {
	margin: 0;
}

#nav-logo {
	height: 120%;
}

.active {
	background-color: #e8edfe;
}